<!doctype html>
<head>
  <title>Infinity Light</title>
</head>
<body>
  <h1>Infinity Light</h1>
  <div id="light1">
    <input type="color" />
    <label></label>
  </div>
  <div id="light2">
    <input type="color" />
    <label></label>
  </div>
  <div id="light3">
    <input type="color" />
    <label></label>
  </div>
  <script>
const curColor1 = document.querySelector('#light1 label');
const colorInput1 = document.querySelector("#light1 input");
curColor1.textContent = colorInput1.value;

const curColor2 = document.querySelector('#light2 label');
const colorInput2 = document.querySelector("#light2 input");
curColor2.textContent = colorInput2.value;

const curColor3 = document.querySelector('#light3 label');
const colorInput3 = document.querySelector("#light3 input");
curColor3.textContent = colorInput3.value;

colorInput1.addEventListener('change', (event) => {
  let color = event.target.value;
  curColor1.textContent = color;
  
  const data = { lightId: 1, color };
  fetch('/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});

colorInput2.addEventListener('change', (event) => {
  let color = event.target.value;
  curColor2.textContent = color;
  
  const data = { lightId: 2, color };
  fetch('/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});

colorInput3.addEventListener('change', (event) => {
  let color = event.target.value;
  curColor3.textContent = color;
  
  const data = { lightId: 3, color };
  fetch('/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});
  </script>
</body>
